<h1>All loans</h1>
<h2>Loans inside the database would go here.</h2>
<% @loans.each do |i| %>
  <p><%= link_to i.id, loan_path(i) %>, customer name: <%= i.customer_name %>, is approved? <%= i.approval %>
<% end %>
